
body {
    margin: 0;
    padding:0;
    align-items: center;
    justify-content: center;
    background: url('bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.container {
        width:100%;
        margin: 0;
        padding: 0;
        
    }
header { position: fixed; 
    top: 0;
     left: 0;
      width: 100%;
      background-color: #36454F;
       display: flex;
        justify-content: space-between;
         align-items: center;
         z-index: 1000;
         height: 80px;
}
.logo { 
    float: left;
     width: 5%;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end; 
    gap: 20px;                 
}

header nav li {
    margin: 0;                
    padding-top: 50px;
}

    nav a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }
    nav a:hover{
        color: #000;
    }
    nav a::before{
        content: '';
        display: block;
        height: 2px;
        background-color: #444;
        position: absolute;
        bottom: 10px;
        width: 0%;
        transition: all ease-in-out 275ms;
    }
    nav a:hover::before {
        width: 100%;
    }
    .products1{
        padding-top: 80px;
    }
    .home{
        text-align: center;
        margin-top: 25px;
        padding-top: 80px;
    }
    .button1{ 
        margin: 10px;
        display: inline-block;
        position: relative;
        left: 50%;
        border-radius: 25px;
        border: 3px solid black;
        color: black;
        padding: 5px;
        text-decoration: none;
    }
    .button1:hover{
        color: grey;
    }
    .button1 a::before{
        content: '';
        display: block;
        height: 2px;
        background-color: #444;
        position: absolute;
        bottom: -10px;
        width: 0%;
        transition: all ease-in-out 275ms;
    }
    .taiwan {
        text-align: center;
        position: relative;
        margin-top: 50px;
        
    }
    .fruit {
        text-align: center;
        position: relative;
        margin-top: 100px;
        
    }
    .special {
        text-align: center;
        position: relative;
        margin-top: 100px;
        
    }
    .premium {
        text-align: center;
        position: relative;
        margin-top: 100px;
        
    }
    .ice {
        text-align: center;
        position: relative;
        margin-top: 100px;
        
    }
    .coffee {
        text-align: center;
        position: relative;
        margin-top: 100px;

    }
    /* products page */
    .search {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: -30px;
    position: absolute;
    justify-content: space-around;
}
.containers {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-image {
    width: 100%;
    height: 300px;         
    object-fit: cover;    
    border-radius: 10px;
}
.card-wrapper{ 
    max-width: 1100px;
    margin: 0 auto 35px;
    padding: 0;
    overflow: hidden;
}
.card-list .card-item{
    list-style: none;
}
.card-list .card-item .card-link{
    user-select: none;
    display: block;
    display: block;
    background: whitesmoke;
    padding: 18px;
    border-radius: 12px;
        text-decoration: none;
        border: 2px solid transparent;
        box-shadow: 0 10px rgba(0, 0, 0, 0.05);
        transition:0.2 ease;
}

.card-list .card-item .card-link:active{
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #5372f0;
}
.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}
.card-list .card-link .badge {
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}
.card-list .card-link .badge.milktea{
    color: white;
    background: black;
}
.card-list .card-link .badge.fruittea{
    color: navy;
    background: pink;
}
.card-list .card-link .badge.frappe{
    color: beige;
    background: brown;
}
.card-list .card-link .badge.premium{
    color: yellow;
    background: purple;
}
.card-list .card-link .badge.coffee{
    color: maroon;
    background: peachpuff;
}
.card-list .card-link .badge.ice{
    color: beige;
    background: burlywood;
}
.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}
.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
    transition: 0.4 ease;
}
.card-list .card-link:hover .card-button {
    color: #fff;
    background: #5372f0;
}
.card-wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5px;
    background: #5372f0;
}
.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}
.card-wrapper .swiper-slide-button{
    color: #5372f0;
    margin-top: -35px;
    display: block;
}
/* mobile devices */
@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }
    
    .card-wrapper .swiper-slide-button {
        display: none;
        display: block;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    header nav ul {
        flex-direction: column;  
        gap: 10px;              
        align-items: flex-end;   
    }

    header nav li {
        padding-top: 0;         
    }

    header {
        padding: 0 10px;        
    }
}
.modal {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    border-radius: 12px;
    position: relative;
    text-align: center;
}

.modal-content img {
    width: 100%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.category-tag {
    display: inline-block;
    background: #eee;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin: 10px 0;
}
#productModal img {
    height: 400px;      
    width: 100%;        
    object-fit: cover;   
    border-radius: 10px; 
}



      /* social page */
    .social{
        text-align: center;
        padding: 80px;
    }

    .social-container{
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;
    }
    .social-container a{
        background-color: white;
        padding: 1em;
        border-radius: 50%;
        height: 64px;
        width: 64px;
        box-sizing: border-box;
        flex-shrink: 0;
        display: grid;
        place-items: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    }
    .social-container a svg{
        height: 32px;
        fill: black;
    }
    .social-container a:hover{
    transform: scale(1.1);
    background-color: var(--accent-color);
    fill: white;
}
.social-container a:hover svg{
    fill: white;
}
.social-container a:before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0, .44,1.68);
}
.social-container a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
}
.social-container a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.social-containera:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}


    /* about page */
    .about{
        padding-top: 80px;
        text-align: center;
    }
    .container2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 600px;
        background: #f5f5f5;
        box-shadow: 0 30px 50px #dbdbdb;

    }
    .container2 .slide .item{
        width: 200px;
        height: 300px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 20px;
        box-shadow: 0 30px 50px #505050;
        background-position: 50% 50%;
        background-size: cover;
        display: inline-block;
        transition: 0.5s;
    }
    .slide .item:nth-child(1),
    .slide .item:nth-child(2){
        top: 0;
        left: 0;
        transform: translate(0,0);
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .slide .item:nth-child(3){
        left: 50%;
    }
    .slide .item:nth-child(4){
        left: calc(50% + 220px);
    }
    .slide .item:nth-child(5){
        left: calc(50% + 440px);
    }
    .slide .item:nth-child(n + 6){
        left: calc(50% + 660px);
        opacity: 0;
    }

    .item .content{
        position: absolute;
        top: 50%;
        left: 100px;
        width: 300px;
        text-align: left;
        color: #eee;
        transform: translate(0, -50%);
        font-family: system-ui;
        display:none;
    }

    .slide .item:nth-child(2) .content{
        display: block;
    }

    .content .name{
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0;
        animation: animate 1s ease-in-out 1 forwards;
        color: beige;
    }

    .content .des{
        margin-top: 10px;
        margin-bottom: 20px;
        animation: animate 1s ease-in-out 0.3s 1 forwards;

    }

    .content button{
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        opacity: 0;
        animation: animate 1s ease-in-out 0.6s 1 forwards;
    }

    @keyframes animate {
        from{
            opacity: 0;
            transform: translate(0, 100px);
            filter: blur(33px);
        }
    
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }

    }
    .button3{
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 20px;
    }

    .button3 button{
        width: 40px;
        height: 35px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        margin: 0 5px;
        border: 1px solid #000;
        transition: 0.3s;
    }
    .button3 button:hover{
        background: #ababab;
        color: #fff;

    }
    .des{
        color: beige;
        font-weight: bold;
    }
    #noResults {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
}
